name: Akeyless fetch
on:
  workflow_dispatch:
jobs:
  fetch_secrets:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Fetch static secrets from Akeyless
        uses: akeyless-community/akeyless-github-action@v1.1.3
        id: fetch-secrets
        with:
          access-id: ${{ vars.AKEYLESS_ACCESS_ID }}
          access-type: jwt
          api-url: https://api.akeyless.io
          static-secrets: |
            - name: "/PowerPlatform/DEV/IncidentApp_PP_URL"
              output-name: "/PowerPlatform/DEV/IncidentApp_PP_URL"
