name: Akeyless fetch
on:
  workflow_dispatch:
jobs:
  fetch_secrets:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Get repo prefix
        id: split
        env:
          REPO: ${{ github.event.repository.name }}
        run: echo "fragment=${REPO%%-*}" >> "$GITHUB_OUTPUT"
      - name: Display repo prefix
        run: echo "${{ steps.split.outputs.fragment }}"
      - name: show oidc
        run: echo  -n "$ACTIONS_ID_TOKEN_REQUEST_TOKEN" | base64
      - name: show token
        run: echo -n "$ACTIONS_ID_TOKEN_REQUEST_TOKEN" | base64

      # - name: Fetch static secrets from Akeyless
      #   uses: akeyless-community/akeyless-github-action@v1.1.3
      #   id: fetch-secrets
      #   with:
      #     access-id: ${{ vars.AKEYLESS_ACCESS_ID }}
      #     access-type: jwt
      #     api-url: https://api.akeyless.io
      #     static-secrets: |
      #       - name: "/PowerPlatform/DEV/IncidentApp_PP_URL"
      #         output-name: "/PowerPlatform/DEV/IncidentApp_PP_URL"
