name: Demo
on:
  workflow_dispatch:
jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install PP Tools
        uses: microsoft/powerplatform-actions/actions-install@v1
